* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
header {
    background: #020617;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Home */
.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.home h2 {
    font-size: 3rem;
    color: #38bdf8;
}

.home h3 {
    margin: 10px 0;
}

.home p {
    max-width: 600px;
}

/* Buttons */
.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
}

.btn-outline {
    background: transparent;
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

/* Sections */
section {
    padding: 60px 40px;
}

.skills ul {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.skills li {
    background: #020617;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Project */
.project-card {
    background: #020617;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Contact */
.contact {
    text-align: center;
}
